{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {keccak, {git, "https://github.com/ates/keccak.git", {branch, main}}},
    {secp256k1, {git, "https://github.com/ates/secp256k1.git", {branch, main}}},
    {hackney, {git, "https://github.com/benoitc/hackney.git", {branch, master}}}
]}.

{shell, [
    {apps, [eth]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{provider_hooks, [{post, [{compile, xref}]}]}.

{dialyzer, [{plt_apps, all_deps}]}.
